.topbar-item {
display: inline-block;
}

.main-page-wrapper {
  text-align: center;
}

.main-page-list {
  border: 3px solid black;
  margin-left: 180px;
  margin-right: 180px
}

.main-page-item {	
  height: 40px;
}